<nav id="homeNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" aria-label="Primary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                <li class="nav-item dropdown">
                    <a id="portfolioDropdown" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
                        <li><a class="dropdown-item" href="events.html">Events</a></li>
                        <li><a class="dropdown-item" href="workshops.html">Workshops</a></li>
                        <li><a class="dropdown-item" href="displays.html">Displays</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="capabilities.html">Our Capabilities</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
            </ul>
        </div>
        <a class="navbar-brand mx-auto" href="index.html" aria-label="Home">
            <img src="assets/images/logo-blk-long.png" alt="Bloom'n Events Co" class="navbar-logo">
        </a>
        <div class="d-flex">
            <a href="contact.html" class="btn btn-gold navbar-contact-btn">Contact Us</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

